a {
  color:#ff0000;
}
a:visited {
 color: #00ff00;
}
a:hover {
  color: #0000ff;
}
.Header {
  color: #c76700;
  font-style: italic;
  font-weight: normal;
  text-align: center;
}
}
#footerdiv {
  color: #ffffff;
  background-color: #d69ad1;
  font-style: italic;
}
body{
  font-family: sans-serif;
  background-image: url(images/DSC_0036.jpg);
}
.textcenter{
  text-align: center;
}
#justify{
  text-align: justify;
}
p{
  text-align: justify;
  color: #ffffff;
}
img{
  border: 5px solid #000000;
  padding: 10px 10px 10px 10px;
  background-color: #ffffff;
}
