body {
  background-color: #000000;

}

#wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 1200px;
}
header{
  background-color: #2f3340;
  text-align: center;
  padding: 15px;
  margin: 0px;
  grid-column: span 12;
  height: 70px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
h1{
    color: white;
    font-family: "courier";
    font-weight: normal;
}
nav{
  text-align: center;
  padding: 15px;
  grid-column: span 12;
}
Nav li a{
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
  background-color: #2f3340;
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: "courier";
  transition: background-color 0.5s;
  border-radius: 10px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
}
nav a:hover{
  background-color: #7d7d8c;
}
Footer{
  text-align: center;
  color: white;
  background-color: #2f3340;
  grid-column: span 12;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 10px;
}
#copyright{
  font-weight: bold;
  font-family: "courier";
}
footer a {
  color: white;
}
Footer a:hover{
  color: #7d7d8c;
}
.slideshow{
  margin-top: 10px;
  width: 1100px;
  margin-left: 50px;
  margin-right: 50px;
  grid-column: span 12;
  border-radius: 10px;
}
img{
  Height:500px
}
