body{
  background-image: url(images/a62.png);
}
#wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 960px;
  margin: 1em auto;
  background-color: white;
  border: 2px solid black;
}
h1{
  font-family: helvetica;
  font-weight: normal;
  color: white;
  background-color: black;
  padding: 15px;
  margin: 1em;
}
nav li a{
  padding: 20px;
  display: block;
  margin: 10px;
  width: 100px;
  border: 1px solid black;
  background-color: red;
  color: white;
  text-decoration: none;
}
nav li{
    list-style-type: none;
}
li a:hover{
  background-color: maroon;
}
header{
  grid-column: span 4;
  Border:0px solid orange;
}
nav{
  grid-column: span 1;
  border: 0px solid blue;
}
main{
  grid-column: span 3;
  border: 0px solid purple;
}
footer{
  grid-column: span 4;
}
h2{
  font-family: helvetica;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}
img{
  padding: 5px;
  border: 2px solid black;
  margin: 0px 10px 3px 0px;
  float: left
}
.bgeorge{
  font-weight: bold;
  font-family: Georgia
  text-align: justify;
}
main a{
  color: red;
  font-weight: bold;
  text-decoration: none;
}
main a:hover{
  color: blue;
  text-decoration: underline;
}
footer{
  background-color: red;
  text-align: center;
  font-family: verdana;
  font-style: italic;
  color: white;
  border-top: 2px solid black;
}
